<%= render 'shared/page_title', title: "Listing All Juice Recipes" %>

<div align="center">
  <%= will_paginate %>
</div>
<p class="center">Click the recipe to view, ask questions and leave comments!</p>
<%= render 'recipe', obj: @recipes %>

<div align="center">
  <%= will_paginate %>
</div>