<%= render 'shared/page_title', title: "create a new juice recipe" %>

<p class = "center">Feel free to add ingredients not present by clicking the ingredients tab, scroll to the bottom, and select "New Ingredient".</p>

<%= render 'form' %>