<div class="container">
  <div class="jumbotron center">
    <div class="well">
      <h1>The Juice Bar</h1>
      <h2>A place to share juice recipes, get ideas and chat with fellow juicers!</h2>
      <br><br>
      <p><%= link_to "Sign up for the app", signup_path, class: "btn btn-warning btn-lg" %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag "orange.jpg" %>
        <div class="caption">
          <h3>Browse as a Guest</h3>
          <p>all work and no play makes jack a dull boy
            all work and no play makes jack a dull boy
            all work and no play makes jack a dull boy
            all work and no play makes jack a dull boy
          </p>
          <p><a href="#" class="btn btn-warning" role="button">Browse</a></p>
        </div>
      </div>
    </div>
 
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag "beet.jpg" %>
        <div class="caption">
          <h3>Juicer's Blog</h3>
          <p>all work and no play makes jack a dull boy
            all work and no play makes jack a dull boy
            all work and no play makes jack a dull boy
            all work and no play makes jack a dull boy</p>
          <p><a href="#" class="btn btn-warning" role="button">Blog</a></p>
        </div>
      </div>
    </div>

   <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag "greens.jpg" %>
        <div class="caption">
          <h3>Developer Contact</h3>
          <p>all work and no play makes jack a dull boy
            all work and no play makes jack a dull boy
            all work and no play makes jack a dull boy
            all work and no play makes jack a dull boy</p>
          <p><a href="#" class="btn btn-warning" role="button">Contact</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


